@import url(SASS\partials\_animation.scss);
@import url(SASS\partials\_fonctionnement.scss);
@import url(SASS\partials\_header.scss);
@import url(SASS\partials\_footer.scss);
@import url(SASS\partials\_loader.scss);
@import url(SASS\partials\_menu.scss);
@import url(SASS\partials\_reservation.scss);
@import url(SASS\partials\_restaurant.scss);




/****** General ***********/
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
}

.loader {
  position: fixed;
  inset: 0px;
  z-index: 1;
  background-color: #FFFFFF;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  animation: disappear 500ms 3s forwards;
  transform-origin: top;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  margin: 0 15px;
  animation: loader 3s ease-in-out;
}

.d2 {
  animation-delay: 0.05ms;
}

.d3 {
  animation-delay: 1ms;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes disappear {
  100% {
    transform: scale(0);

  }
}


header nav {
  display: flex;
  flex-direction: column;
}


nav h1 {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px 1px grey;
  height: 96px;
  padding: 30px 0px 31.798px 0px;
  position: relative;
  margin: 1px;
  display: flex;
}


h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 0px;
  width: 100%;
}

.city {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.city i {
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: rgba(255, 255, 255, 1);
}

h3 {
  margin-top: 0px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: flex;
  text-align: center;
  align-items: center;
}

.explorer p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  align-items: center;
  padding: 0px 40px;
  margin-bottom: 30px;
}

.explorer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 35px;
  box-shadow: 2px 1px 16px -3px #000000;
  border: none;
  transition: background-color 0.3s ease;
}

.explorer button :hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
}

@media (min-width: 768px) {
  .explorer button {
    margin-bottom: 50px;
    padding: 15px;
  }

  .Fonctionnement button {
    padding: 30px 20px 30px 20px;
    width: 25%;
  }
}


.explorer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: #F6F6F6;
  gap: 30px;
}

/*************Partie Fonctionnement***********/
.choix {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

@media (min-width: 768px) {
  .choix {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
  }
}


.Fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-right: 80px;
  margin-left: 32.51px;
  padding-bottom: 68px;
}

.Fonctionnement button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  gap: 20px;
  padding: 30px;
  background-color: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.etape {
  position: absolute;
  top: 25px;
  left: -11px;
  background-color: rgba(147, 86, 220, 1);
  color: white;
  border-radius: 50%;
  padding: 7px;
  font-size: 12px;
}


.Fonctionnement button i {
  color: rgba(126, 126, 126, 1);
  margin-right: 10px;
}


.fa-store:before {
  color: rgba(147, 86, 220, 1);
}

.title-fonctionnement {
  text-align: start;
}

.text-fonctionnement {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}

/*************Partie Restaurant**********/
.restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  background-color: #F6F6F6;
  padding-left: 17px;
  padding-right: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.restaurant-title {
  display: flex;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;

}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}

a {
  width: 100%;
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  .restaurant-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    gap: 25px;
    padding-top: 28px;
  }

  .card img {
    object-fit: cover;
    width: 100%;
    height: 211px;
    border-radius: 15px 15px 0 0;
  }

  .card {
    margin-bottom: 20px;
  }
}

.card {
  height: 251px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-bottom: 40px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
}


.card-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-title,
.card-subtitle {
  text-align: left;
  margin: 0px;
}

.card-heart {
  color: black;
}

.card-heart {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
}

.card-heart i {
  position: absolute;
  top: 0;
  left: 0;
}

.card-heart i:not(:hover) {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.card-heart i:hover {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fa-regular.fa-heart {
  opacity: 1;
}

.fas.fa-heart {
  opacity: 0;
  color: rgba(147, 86, 220, 1);
}


.restaurant-cards .card span {
  display: flex;
  position: absolute;
  right: 12%;
  top: 1170px;
  width: 100px;
  height: 30px;
  justify-content: center;
  background-color: #99E2D0;
  padding-top: 4px;
  color: #1B6150;
}

@media (min-width: 768px) {
  .card .new {
    right: 23%;
    top: 700px;
  }
}

/******Le Footer*****/

footer .footer {
  width: 100%;
  background-color: #353535;
}

.footer {
  background: var(--Grey, #353535);
  padding: 22px 25px 22px 25px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer__list {
    justify-content: flex-end;
    gap: 45px;
  }
}




.container {
  display: flex;
  flex-direction: column;
  padding: 22px 25px 22px 25px;
  background-color: #353535;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  display: block;
  margin-bottom: 10px;
  margin-left: 15px;
  color: white;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__listElt {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__icon {
  color: white;
}


/*****A la francaise****/

.header-menu {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  padding: 14px 89px 13px 17px;
}

.fa-arrow-left {
  display: flex;
  align-items: flex-start;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  color: var(--Black, #101010);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 42px;
}

.image-restaurant {
  width: 375px;
  height: 275px;
  flex-shrink: 0;
}

.main-menu {
  position: absolute;
  top: 283px;
  width: 100%;
  height: 1317px;
  border-radius: 25px 25px;
  background: #F7F7F7;
  padding: 20px;
}

.menu {
  top: 283px;
  width: 1055px;
  height: 1317px;
  border-radius: 25px 25px;
  background: #F7F7F7;
  padding: 20px;
  padding-bottom: 200px;
  margin-left: 12%;
}

.h2 .resto-name {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  margin: 0%;
  padding-top: 19px;
  padding-left: 5px;
}

.titre-menu {
  background: #F6F6F6;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.card-heart {
  color: black;
}

.coeurs-menu {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
}

.coeurs-menu i {
  position: absolute;
  top: 0;
  left: 0;
}

.coeurs-menu i:not(:hover) {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.coeurs-menu i:hover {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fa-regular.fa-heart {
  opacity: 1;
}

.fa-solid.fa-heart {
  opacity: 0;
  color: rgba(147, 86, 220, 1);
}

.entrees .plats .desserts {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.food {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
}

.card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin-bottom: 25px;
  margin-left: 7px;
  padding-top: 5px;
}

.description {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  gap: 36px;
  width: 100%;
}

.text-info {
  width: 100%;
  white-space: nowrap;
  flex-direction: column;
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.entrees{
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plats {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desserts{
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.text-info p {
  font-weight: 300;
  font-size: 15.0431px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: 'Roboto';
  font-style: normal;
  color: #000000;
}

.prix {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

.checkbar {
  background-color: #99E2D0;
  margin-right: -8rem;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: margin-right 1s;
}

.card2:hover .checkbar {
  margin-right: 0;
}

.fa-check {
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

.card2:hover .fa-check {
  animation: spin 1s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

.checkbar i {
  padding-left: 5px;
  opacity: 1;
  font-size: 30px;
  text-align: center;
  align-items: center;
}

.bouton-commander {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 60px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  margin-left: 30%;
}