.header-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 40%;
  align-items: center;
  box-shadow: 0px 3px 0px 0px grey;
}


.header .logo {
  padding-bottom: 15px;
  background-color: #ffffff;
  width: 162px;
  height: 36px;
  margin: 1px;
  display: flex;
}


.city {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.city i {
  font-weight: 900;
}


/******header resto****/

.header-menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.logo {
  height: 36px;
  width: 197px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.en-tete {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 63px;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.45);
}


.index-link {
  position: absolute;
  left: 10px;
  top: 18px;
  font-size: 20px;
  color: #101010;
  
}


.fa-arrow-left {
  color: black;
  align-items: flex-start;
}