
.loader {
  position: fixed;
  inset: 0px;
  z-index: 1;
  background-color: #FFFFFF;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  animation: disappear 500ms 3s forwards;
  transform-origin: top;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  margin: 0 15px;
  animation: loader 3s ease-in-out;
}

.d1{
  background-color: var(--Primary, #9356DC);
}

.d2 {
  animation-delay: 0.05ms;
  background-color: #99E2D0;
}

.d3 {
  animation-delay: 1ms;
  background-color: #9356DC;
}


@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes disappear {
  100% {
    transform: scale(0);

  }
}