/****MEnu accueil***/
main {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
}

h1 {
  color: #000000;
  text-align: center;
  width: 100%;
}

h3 {
  margin-top: 0px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.resa {
  color: #000000;
}

.explorer p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  align-items: center;
  padding: 0px 40px;
  margin-bottom: 30px;
}

.explorer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  box-shadow: 2px 1px 16px -3px #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.explorer button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .explorer button {
    margin-bottom: 50px;
    padding: 15px;
  }

  .Fonctionnement button {
    padding: 30px 20px 30px 20px;
    width: 25%;
  }
}


.explorer {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: #F6F6F6;
}

/*****Menu resto*****/


.menu {
  margin-top: -30px;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px;
  background: #F7F7F7;
}


.h1 .resto-name {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  margin: 0%;
  padding-top: 19px;
  padding-left: 5px;
}

.titre-menu {
  font-family: Shrikhand;
  background: #F6F6F6;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;
}

@media (min-width: 768px) {
  .titre-menu {
    font-size: 25px;
  }
}


.titre-menu .h2 {
  padding-left: 15px;
}



.entrees .plats .desserts {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.food {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  width: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
}

.card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin-bottom: 25px;
  margin-left: 7px;
}

.description {
  padding-top: 10px;
  overflow: hidden;
  display: flex;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 100%;
}


.text-info {
  white-space: nowrap;
  flex-direction: column;
  display: flex;
  width: 90%;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}


.entrees {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .entrees {
    padding-right: 20%;
    padding-left: 20%;
  }
}

.plats {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .plats {
    padding-right: 20%;
    padding-left: 20%;
  }
}

.desserts {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .desserts {
    padding-right: 20%;
    padding-left: 20%;
  }
}

.entrees h2,
.plats h2,
.desserts h2 {
  margin-left: 5px;
  border-bottom: 3px solid rgba(153, 226, 208, 1);
  margin-bottom: 20px;
}


.text-info p {
  font-weight: 300;
  font-size: 15.0431px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: 'Roboto';
  font-style: normal;
  color: #000000;
}

.prix {
  padding-left: 30%;
  justify-content: end;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .prix {
    position: relative;
    top: 17px;
    right: 16%;
    padding-bottom: 0px;
  }
}

.checkbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: -15px;
  margin-bottom: -15px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
  opacity: 0;
  cursor: pointer;
}

.card2:hover .checkbar {
  margin-right: 0;
  opacity: 1;
}


.fa-check {
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

.card2:hover .fa-check {
  animation: spin 1s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

.checkbar i {
  padding-left: 5px;
  opacity: 1;
  font-size: 30px;
  text-align: center;
  align-items: center;
}