/****MEnu accueil***/
main {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 24px;
}

h3 {
  margin-top: 0px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  white-space: nowrap;
}

.resa {
  margin-bottom: 10px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .resa {
    font-size: 40px;
  }
}





.explorer p {
  font-weight: 300;
  text-align: center;
  padding: 0px 40px;
  margin-bottom: 30px;

}

.explorer button {
  padding: 10px 15px 10px 15px;
  color: white;
  font-size: 16px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  box-shadow: 2px 1px 16px -3px #000000;
  border: none;
  cursor: pointer;
}

.explorer button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s;
}

@media (min-width: 768px) {
  .explorer button {
    margin-bottom: 50px;
    padding: 15px;
  }

  .Fonctionnement button {
    padding: 30px 20px 30px 20px;
    width: 25%;
  }
}


.explorer {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}

/*****Menu resto*****/

@keyframes fade {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade1 {
  animation: fade 1.5s ease-in-out forwards;
  animation-delay: 0ms;
}

.fade2 {
  animation: fade 1s ease-in-out forwards;
  animation-delay: 600ms;
}

.fade3 {
  animation: fade 1s ease-in-out forwards;
  animation-delay: 1200ms;
}


.menu {
  margin-top: -30px;
  padding-top: 30px;
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  border-radius: 25px 25px;
  background: #F7F7F7;
}

@media (min-width: 768px) {
  .menu {
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 10%;
    margin-left: 10%;
  }
}


.h1 .resto-name {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  margin: 0%;
  padding-top: 19px;
  padding-left: 5px;
}

.titre-menu {
  font-family: Shrikhand;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
}

@media (min-width: 768px) {
  .titre-menu {
    font-size: 28px;
    justify-content: center;
  }
}


.titre-menu .h2 {
  padding-left: 15px;
}



.food {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  width: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin-bottom: 25px;
  overflow: hidden;
}

.description {
  padding-top: 10px;
  overflow: hidden;
  display: flex;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}


.text-info {
  flex-direction: column;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.entrees,
.plats,
.desserts {
  font-size: 18px;
}


.entrees h2,
.plats h2,
.desserts h2 {
  border-bottom: 3px solid rgba(153, 226, 208, 1);
  margin-bottom: 20px;
}


.text-info p {
  font-weight: 300;
  font-size: 15.0431px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: 'Roboto';
  font-style: normal;
  color: #000000;
}

.prix {
  padding-left: 30%;
  justify-content: end;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  margin-right: 25px;
}



.checkbar {
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-right: -80px;
  height: 83px;
  cursor: pointer;
  transition: 1s;
}

.card2:hover .checkbar {
  margin-right: 0;
}


.fa-check {
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}


.card2:hover .fa-check {
  animation: spin 1s ease-in-out forwards;
}

@keyframes spin {
  0% {

    transform: rotate(-270deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }

}

.checkbar i {
  font-size: 30px;
  text-align: center;
  opacity: 1;
}