/*************Partie Restaurant**********/
.restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  background-color: #F6F6F6;
  padding-left: 17px;
  padding-right: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}


@media (min-width: 1025px) {
  .restaurants {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.restaurant-title {
  display: flex;
  font-weight: 700;
  font-size: 24px;

}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;
}


@media (min-width: 768px) {
  .restaurant-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    padding-top: 28px;
  }

  .card img {
    object-fit: cover;
    width: 100%;
    height: 211px;
    border-radius: 15px 15px 0 0;
  }

  .card {
    margin-bottom: 20px;
    width: 45%;
  }

  .card-link {
    margin-bottom: 20px;
    width: 45%;
  }

}

.card {
  /*height: 251px;*/
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
  /*padding-bottom: 30px;*/
  position: relative;
  width: 100%;
}

.card-link {
  height: 251px;
  border-radius: 8px;
  padding-bottom: 30px;
  position: relative;
  color: black;
  text-decoration: none;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
}


.card-content {
  display: flex;
  padding: 10px;
  margin-right: 15px;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-title,
.card-subtitle {
  text-align: left;
  margin: 0px;
}


.card-heart {
  display: flex;
  width: 22px;
  height: 22px;
}


.card-heart .fas {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-heart i:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fa-heart {
  position: absolute;
  font-size: 23px;
  cursor: pointer;
}

.fa-regular.fa-heart {
  opacity: 1;
}

.fas.fa-heart {
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: 23px;
  -webkit-text-fill-color: transparent;
}


.restaurant-cards .card span {
  display: flex;
  position: absolute;
  right: 8px;
  top: 11px;
  width: 100px;
  padding: 6px 9px;
  justify-content: center;
  background-color: #99E2D0;
  color: #1B6150;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .card .new {
    right: 23%;
    top: 700px;
  }
}