/*************Partie Fonctionnement***********/
.choix {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .choix {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 10%;
    }
  }
  
  
  .Fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-right: 80px;
    margin-left: 32.51px;
    padding-bottom: 68px;
  }
  
  .Fonctionnement button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    gap: 20px;
    padding: 30px;
    background-color: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: none;
  }
  
  .etape {
    position: absolute;
    top: 25px;
    left: -11px;
    background-color: rgba(147, 86, 220, 1);
    color: white;
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
  }
  
  
  .Fonctionnement button i {
    color: rgba(126, 126, 126, 1);
    margin-right: 10px;
  }
  
  
  .fa-store:before {
    color: rgba(147, 86, 220, 1);
  }
  
  .title-fonctionnement {
    text-align: start;
  }
  
  .text-fonctionnement {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
  }


/******RESA Resto*****/
.bouton-commander {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    margin-left: 30%;
    cursor: pointer;
  }